// Inter Font from Google
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

//colors
$primary: #005fff;
$hover-primary: #004ac6;
$hover-background: #dddddd;
$hover-failure: #801021;
$secondary: #33e984;
$tertiary: #76fff1;
$background: #fcfcfc;
$foreground: #202426;

$success: #1F9D85;
$warning: #BC6342;
$failure: #A7152C;

$disabled: #D6D6C4;

//fonts
$font-primary: 'Inter', sans-serif;

//miscellaneous
$gradient: linear-gradient(90deg, rgba(252,252,252,0.9934348739495799) 50%, rgba(237,236,236,1) 100%);
$selected-gradient: linear-gradient(90deg, $primary 31%, $background 100%);

$border-radius: 1rem;
$box-shadow:
0 1px 2px rgba(0,0,0,0.12), 
0 2px 4px rgba(0,0,0,0.12), 
0 4px 8px rgba(0,0,0,0.12), 
0 8px 12px rgba(0,0,0,0.12),
0 16px 32px rgba(0,0,0,0.12);