@import './variables';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $primary-dark;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

p {
  color: $primary-light;
  margin: 0;
  padding: 0;
}

.container {
  border-radius: $border-radius;
  border: 2px solid $primary-light;
  box-shadow: $box-shadow;
  background: $gradient;
  padding: 1rem;
}