@import './variables';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
}