@import '../../styles/variables';

.flagged-messages-container {
    overflow: auto;

    >ul {
        list-style: none;
        margin: 0;
        padding: 0;

        >li {
            display: flex;
            margin-top: 1rem;

            &:first-of-type {
                margin-top: 0;
            }

            >.message-select {
                background: $gradient;
                border: 2px solid $primary-light;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
                height: auto;
                margin-right: 1rem;
                width: 10%;
                z-index: 1;

                &.selected {
                    background: $selected-gradient;
                }
            }

            >.message-container {
                background: $gradient;
                border: 2px solid $primary-light;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
                display: flex;
                justify-content: space-between;
                height: 5rem;
                padding: 1rem;
                width: 90%;

                &.active {
                    background: $selected-gradient;
                }

                >.message-details-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 40%;
                }

                >.message-contents-container {
                    align-items: center;
                    display: flex;
                    width: 60%;

                    >p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 90%;
                    }
                }
            }
        }
    }
}