@import '../../styles/variables';

.flagged-messages-container {
    overflow: auto;

    >ul {
        list-style: none;
        margin: 0;
        padding: 0;

        >li {
            align-items: center;
            display: flex;
            // justify-content: center;
            margin-top: 1rem;

            &:first-of-type {
                margin-top: 0;
            }

            >.message-select {
                background: $gradient;
                border: 2px solid $foreground;
                border-radius: .5rem;
                box-shadow: $box-shadow;
                cursor: pointer;
                height: 2rem;
                margin-right: 1rem;
                width: 2rem;
                z-index: 1;

                &:hover {
                    background: $hover-background
                }

                &.selected {
                    background: $primary;

                    &:hover {
                        background: $hover-primary
                    }
                }
            }

            >.message-container {
                background: $gradient;
                border: 2px solid $foreground;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                height: 5rem;
                padding: 1rem;
                width: 100%;

                &:hover {
                    background: $hover-background
                }

                &.active {
                    background: $primary;

                    &:hover {
                        background: $hover-primary
                    }

                    p {
                        color: $background;
                    }
                }

                >.message-details-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 40%;
                }

                >.message-contents-container {
                    align-items: center;
                    display: flex;
                    width: 60%;

                    >p {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        width: 90%;
                    }
                }
            }
        }
    }
}