@import '../../styles/variables';

.channel-list-container {
    overflow: auto;
    position: relative;

    >.search-container {
        align-items: center;
        display: flex;
        justify-content: space-between;

        >input {
            background-color: $background;
            border: 2px solid $foreground;
            border-radius: $border-radius;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            height: 3rem;
            width: 100%;
        }
        >.clear-search-button {
            background: $failure;
            border: 2px solid $foreground;
            border-left: none;
            border-bottom-right-radius: $border-radius;
            border-top-right-radius: $border-radius;
            color: $background;
            cursor: pointer;
            height: 3rem;
            width: 5rem;

            &:hover {
                background: $hover-failure;
            }
        }
    }

    >ul {
        list-style: none;
        margin: 0;
        padding: 0;

        >li {
            align-items: center;
            border-bottom: 2px solid $foreground;
            display: flex;
            height: 3rem;
            justify-content: space-between;
            margin-top: 1rem;
            padding: .5rem;
            width: 100%;

            transition: all 1s;

            &:hover {
                border-color: $primary;
                cursor: pointer;

                >p {
                    color: $primary;
                }
            }
        }
    }

    // >.clear-search-button {
    //     background: $primary;
    //     bottom: .5rem;
    //     border: none;
    //     border-radius: $border-radius;
    //     color: $background;
    //     cursor: pointer;
    //     // height: 1rem;
    //     left: 0;
    //     margin: auto;
    //     padding: .25rem;
    //     position: sticky;
    //     right: 0;
    //     top: calc( 100vh - .5rem );;
    //     width: 5rem;
    // }
}