@import '../../styles/variables';

.channel-list-container {
    position: relative;

    >.search-container {
        align-items: center;
        display: flex;
        justify-content: space-between;

        >input {
            background-color: $primary-light;
            border: none;
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
            height: 3rem;
            width: 80%;
        }

        >button {
            background-color: $disabled;
            border: none;
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            color: $primary-dark;
            height: 3rem;
            width: 20%;
        }
    }

    >ul {
        list-style: none;
        margin: 0;
        padding: 0;

        >li {
            align-items: center;
            border-bottom: 2px solid $primary-light;
            display: flex;
            height: 3rem;
            justify-content: flex-start;
            margin-top: 1rem;
            padding: .5rem;
            width: 100%;

            &:hover {
                border-color: $secondary;
                cursor: pointer;

                >p {
                    color: $secondary;
                }
            }
        }
    }

    >.clear-search-button {
        background: linear-gradient(90deg, rgba(167, 21, 44, 1) 50%, rgba(110, 14, 29, 1) 100%);
        bottom: .5rem;
        border: none;
        border-radius: $border-radius;
        color: $primary-light;
        left: 0;
        margin: auto;
        padding: .25rem;
        position: absolute;
        right: 0;
        width: 5rem;
    }
}