@import '../../styles/variables';

.message-context-container {
    overflow: auto;

    >header {
        align-items: center;
        border-bottom: 2px solid $primary-light;
        display: flex;
        height: 2.5rem;
        justify-content: space-between;

        >div {
            cursor: pointer;
            padding: .5rem;
            width: 50%;

            >p {
                text-align: center;
            }

            &.active {
                background: $primary;
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;

                >p {
                    color: white;
                }
            }
        }
    }

    >.content-area {
        margin-top: 1rem;

        >pre {
            color: $primary-light;
        }

        >ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
            padding: 0;

            >li {
                align-self: flex-start;
                margin-top: 1rem;

                &.sender {
                    align-self: flex-end;
                }

                >.message {
                    background: $gradient;
                    border: 2px solid $primary-light;
                    border-radius: $border-radius;
                    box-shadow: $box-shadow;
                    padding: .5rem 1rem;

                    &.flagged {
                        background: $primary;
                    }
                }
            }

            &.pill-container {
                flex-direction: row;
                justify-content: space-around;

                >li {
                    background: $gradient;
                    border-radius: $border-radius;
                    box-shadow: $box-shadow;
                    height: 6rem;
                    width: 8%;

                    &.show {
                        &.very-negative {
                            background: linear-gradient(90deg, rgba(167, 21, 44, 1) 50%, rgba(110, 14, 29, 1) 100%);
                        }

                        &.negative {
                            background: linear-gradient(90deg, rgba(188, 99, 66, 1) 50%, rgba(119, 63, 42, 1) 100%);
                        }

                        &.neutral {
                            background: linear-gradient(90deg, rgba(247, 239, 216, 1) 50%, rgba(175, 169, 153, 1) 100%);
                        }

                        &.positive {
                            background: linear-gradient(90deg, rgba(31, 157, 133, 1) 50%, rgba(19, 92, 78, 1) 100%);
                        }

                        &.very-positive {
                            background: linear-gradient(90deg, rgba(33, 78, 156, 1) 50%, rgba(20, 48, 96, 1) 100%);
                        }
                    }
                }
            }
        }
    }
}