@import '../../styles/variables';

.message-context-container {
    overflow: auto;

    >header {
        align-items: center;
        border-bottom: 2px solid $foreground;
        display: flex;
        height: 2.5rem;
        justify-content: space-between;

        >div {
            cursor: pointer;
            padding: .5rem;
            width: 50%;

            >p {
                text-align: center;
            }

            &.active {
                background: $primary;
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;

                >p {
                    color: white;
                }
            }
        }
    }

    >.content-area {
        margin-top: 1rem;

        >pre {
            color: $foreground;
        }

        >ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            margin: 0;
            padding: 0;

            >li {
                align-self: end;
                margin-top: 1rem;

                &.sender {
                    align-self: start;
                }

                >.message {
                    background: $gradient;
                    border: 2px solid $foreground;
                    border-radius: $border-radius;
                    box-shadow: $box-shadow;
                    padding: .5rem 1rem;

                    &.flagged {
                        background: $primary;

                        p {
                            color: $background;
                        }
                    }
                }
            }

            &.pill-container {
                flex-direction: row;
                justify-content: space-around;

                >li {
                    background: $gradient;
                    border-radius: $border-radius;
                    box-shadow: $box-shadow;
                    height: 6rem;
                    width: 8%;

                    &.show {
                        &.very-negative {
                            background: $secondary;
                        }

                        &.negative {
                            background: $tertiary;
                        }

                        &.neutral {
                            background: #b3b3b3;
                        }

                        &.positive {
                            background: $tertiary;
                        }

                        &.very-positive {
                            background: $secondary;
                        }
                    }
                }
            }
        }
    }
}