@import './styles/variables.scss';

main {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
    padding: 1rem;

    // >h1 {
    //     align-items: center;
    //     display: flex;
    //     font-size: 3rem;
    //     grid-column: 2 / 11;
    //     grid-row: 2 / 3;
    //     margin: 0;
    // }

    >.logo-container {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        padding: 1rem;

        >svg {
            height: auto;
            width: 100%;
        }
    }

    .channel-list-container {
        grid-column: 1 / 4;
        grid-row: 2 / 11;
    }

    .flagged-messages-container {
        grid-column: 4 / 13;
        grid-row: 1 / 6;
    }

    .message-context-container {
        grid-column: 4 / 10;
        grid-row: 6 / 10;
    }

    >header {
        align-items: center;
        display: flex;
        grid-column: 4 / 10;
        grid-row: 10 / 11;
        justify-content: center;
        >h1 {
            color: $foreground;
            font-size: 2rem;
            margin: 0;
        }
    }

    .message-actions-container,.message-actions-placeholder {
        grid-column: 10 / 13;
        grid-row: 6 / 11;
    }

    // *************** END PLACEHOLDER *******************
}