@import '../../styles/variables';

.message-actions-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    >nav {
        width: 100%;

        >ul {
            display: flex;
            flex-direction: row;
            height: 2.5rem;
            list-style: none;
            margin: 0;
            padding: 0;

            >li {
                border-radius: $border-radius;
                align-items: center;
                border-radius: .5rem;
                cursor: pointer;
                display: flex;
                justify-content: center;
                width: 50%;
                text-align: center;

                &.active {
                    background: $gradient;
                    border: 2px solid $foreground;
                }
            }
        }
    }

    >.message-actions-content {
        flex: auto;
        width: 100%;

        >.actions-container {
            display: flex;
            flex-direction: column;

            >button {
                background: $primary;
                border: 2px solid $foreground;
                border-radius: .5rem;
                color: $background;
                height: 2.5rem;
                margin-top: 1rem;
            }
        }
    }

    >.slider-container {
        text-align: center;
        width: 100%;

        p {
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 90% !important;
        }
    }
}